* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  color: rgb(16, 42, 66);
  background-color: rgb(240, 245, 252);
}
.heading {
  font-size: 48px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-bottom: 50px;
  width: 80%;
}
.rect {
  height: 5px;
  width: 10%;
  background-color: skyblue;
}
.tour-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}
.single-place {
  color: black;
  background-color: white;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px 5px 0px 0px;
}
.info {
  margin: 10px;
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info,
p {
  padding: 0px 13px 5px 13px;
}
button {
  width: 60%;
  margin: 5px 15px 20px 15px;
}
.image {
  border-radius: 5px 5px 0px 0px;
  width: 100%;
  height: 350px;
  object-fit: cover;
}
.price {
  color: rgb(73, 166, 233);
  background-color: rgb(213, 232, 243);
  padding: 8px;
  border-radius: 5px;
  font-weight: 700;
}
.place-name {
  font-family: monospace;
  font-weight: bolder;
  font-size: 25px;
}
.center {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
h1,
h2,
h3,
h5,
h6 {
  text-align: center;
}
.refresh {
  width: 20%;
}
.readmore-btn {
  padding: 0;
  margin: 0;
  background: transparent;
  border: transparent;
  width: 19%;
  color: blue;
}
.readmore-btn:hover {
  text-decoration: blue underline;
}
@media only screen and (max-width: 900px) {
  .container {
    width: 100%;
  }
  .single-place {
    width: 95%;
  }
}
@media only screen and (max-width: 400px) {
  .container {
    width: 80%;
  }
  .single-place {
    width: 100%;
  }
}
